[Desktop Entry]
Encoding=UTF-8
Name=Link to Media Library ‹ Wordpress — WordPress.png
Type=Link
URL=file:///home/davis/Downloads/Media%20Library%20%E2%80%B9%20Wordpress%20%E2%80%94%20WordPress.png
Icon=image-png
Name[en_PH]=screenshot-1.png
